apiVersion: 1

datasources:
  # Prometheus - Metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  # Loki - Logs
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
      # Enable correlation between Loki logs and Prometheus metrics
      derivedFields:
        - name: 'TraceID'
          matcherRegex: '"trace_id":"([^"]+)"'
          url: '$${__value.raw}'
        - name: 'Container'
          matcherRegex: 'container="([^"]+)"'
          url: '$${__value.raw}'
